<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>
<%if logged_in?%>
	    <%= form_for(:users, controller: "ussers", action: "delete") do |f| %>
       <%= render 'shared/error_messages' %>

      <%= f.label :Kill_Code  %>
      <%= f.text_field :kill_code, class: "form-control" %>

      <%= f.submit "Kill Player", class: "btn btn-primary" %>
    <% end %>
<% else %>
hey theres nothing to see here

<% end -%>